body {
	font-family: OpenSans;
	width: 100%;
	height: inherit;
	margin: 0em;
	background: url("../Images/backgroundImage.svg");
	background-color: #020202;
	background-size: 1em 1em;	
    background-repeat: repeat;
	overflow-x: hidden;
	overflow-y: hidden;
}
.bodyWrapper{
	width: 100%;
	height: 100vh;
	margin: 0em;
	overflow-x: hidden;
	overflow-y: hidden;
}

h1 {
	font-size: 1.6em;
}

a {
	text-decoration:none;
	color: #BBFF00;
}
a:hover {
	color: #8F8F8F;
}

.container {
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0 auto;
	padding: 0em;
  
	-webkit-perspective: 100em;
	-moz-perspective: 100em;
	-o-perspective: 100em;
	perspective: 60em;
	overflow-x: hidden;
	overflow-y: hidden;
}

.backgroundPlatform {
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0em;
	padding: 0em;
	top: 0em;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	z-index: 10;
}

.platform {
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	margin: 0;
}

.platform#base {
	display:none;
	height: 30em;
	background-color: rgba(179,179,179,.6);
	border-color: rgba(80,80,80,1);
}
.copyright {
	text-align: center;
	width: 100%;
	height: auto;
	position: absolute;
	top: 12em;
}

.platform#back {
	display: none;
	height: 90%;
	top: 0em;
	background-color: rgba(100,100,100,.6);
	border-color: rgba(80,80,80,1);
	/* border-radius: .5em .5em 0em 0em; */
}

.carousel{
	min-width: 60%;
	height: 80%;
	position: absolute;
	left: 10%;
	right: 10%;
	top: 0em;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.panel {
	color: #EFEFEF;
	width: 100%;
	height: 100%;
	position: absolute;
	/* background-color: #BBFF00; */
	background-color: rgba(48, 48, 48, .95);
	/* border: .1em solid; */
	border-color: rgba(48, 48, 48, 1);
}
#panel-1, #panel-2, #panel-3 {
	height: auto;
}
/* #panel-2 {
	height: 60em;
} */
.panelHeader {
	color: #EFEFEF;
	text-align: center;
	min-width: 100%;
	height: 4.6em;
	position: absolute;
	top: 0em;
	background-color: rgba(12, 12, 12, .8);
	z-index: 999;
}
.panelFooter {
	color: #EFEFEF;
	text-align: center;
	width:  18em;
	height: 1.6em;
	left: calc(50% - 9em);
	position: absolute;
	bottom: .2em;
	z-index: 999;
	border-radius: .8em;
	background-color: rgba(12, 12, 12, .9);
}
.panelDot {
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	margin: .1em .4em .1em .4em;
	border-radius: .7em;
	background-color: #EFEFEF;
	border: .1em solid;
	border-color: #EFEFEF;
	box-shadow:  .1em .1em .12em #020202;
}
.panelDotSelected{
	border-color: #686868;
	background-color: #BBFF00;
}
.panelDot:hover {
	border-color: #686868;
	background-color: #282828;
	cursor: pointer;
}
.navArrow {
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
}
.navArrow:hover {
	cursor: pointer;
}
#toBottom {
	background: url("../Images/DownArrow.svg");
}
#toTop {
	background: url("../Images/UpArrow.svg");
}

.titleHeader {
	display: inline-block;
	font-size: 2em;
	text-align: center;
	vertical-align: middle;
	height: auto;
	width: auto;
	margin: auto;
}
.iconWrapper {
	position: absolute;
	font-family: OpenSans;
	left: 1em;
}
.iconHeader {
	font-family: OpenSans;
	display: none;
	color: #DFDFDF;
	position: relative;
	padding: 0em;
	margin: 0em;
	height: 1.4em;
	text-align: left;
}
.iconHome {
	font-family: OpenSans;
	background-color: #BBFF00;
	background-image: url("../Images/MyFace.svg");
	background-size: auto 100%;
	padding: 0em;
	margin: 0em;
	margin-top: 1.4em;
	width: 5em;
	height: 5em;
	border-radius: .8em;
	box-shadow:  .16em .16em .2em #020202;
}
.iconFooter {
	font-family: OpenSans;
	display: none;
	color: #DFDFDF;
	position: relative;
	height: 2em;
}
.iconWrapper:hover  {
	cursor: pointer;
}
.iconWrapper:hover .iconHeader  {
    display: inline-block;
}
.iconWrapper:hover .iconHome  {
	background-color: #DEDEDE;
	margin-top: 0em;
}
.iconWrapper:hover .iconFooter {
    display: inline;
}

.linkedIn {
	background-image: url("../Images/1428394269_square-linkedin.svg");
	background-size: auto 100%;
	position: absolute;
	top: .9em;
	right: 1em;
	width: 2.8em;
	height: 2.8em;
	border-radius: .4em;
	text-align: center;
	box-shadow:  .16em .16em .2em #020202;
}
.linkedIn:hover {
	cursor: pointer;
	background-image: url("../Images/1428394269_square-linkedin-selected.svg");
}
.gitHub {
	background-image: url("../Images/github-icon-selected.svg");
	background-size: cover;
	background-color: rgba(255,255,255,1);
	/* background-color: rgba(153,0,153,1); */
	position: absolute;
	top: .9em;
	right: 4.8em;
	width: 2.8em;
	height: 2.8em;
	padding: 0em;
	border-radius: .4em;
	text-align: center;
	box-shadow:  .16em .16em .2em #020202;
}
.gitHub:hover {
	cursor: pointer;
	background-image: url("../Images/github-icon.svg");
}

.bullcrapAlign {
	display: inline-block;
	width: .1em;
	height: 100%;
	vertical-align: middle;
}
.contentIcon {
	width: auto;
	height: 50%;
	display: inline-block;
	vertical-align: middle;
}
.content-3 {
	height: 33.3%;
	width: 100%;
	margin: 0em;
	padding: .5em 1em .5em 1em;
	vertical-align: middle;
	box-sizing: border-box;
}

#designContent {
	text-align:left;
	box-shadow: inset -.14em -.14em .7em #121212;
}
#mechContent {
	text-align:right;
}
#codeContent {
	text-align:left;
	box-shadow: inset -.12em .12em .7em #121212;
}
.tagLine {
	display: inline-block;
	padding: .2em .4em .2em .4em;
}

.projectTitle {
	width: auto;
	height: auto;
	margin: 1em;
	padding: .4em;
	font-size: 1.2em;
	text-align: center;
}
.projectImage {
	width: 100%;
	height: auto;
}
.projectContent {
	width: auto;
	padding: 1em;
	height: auto;
}


@media (max-width: 40em) {
	.iconHeader {
		display: none !important;
	}
	.iconHome {
		margin-top: .8em;
		width: 3em;
		height: 3em;
		border-radius: .6em;
		box-shadow:  .12em .12em .18em #020202;
	}
	.iconFooter {
		display: none !important;
	}
	.iconWrapper:hover .iconHome  {
		background-color: #DEDEDE;
		margin-top: .8em;
	}
	.content-3 {
		padding: .2em;
	}
	.contentIcon {
		height: 30%;
	}
	.titleHeader {
		font-size: .8em;
		width: 8em;
	}
}

@font-face {
    font-family: "OpenSans";
    src: url("../Fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSans-Semibold";
    src: url("../Fonts/OpenSans-Semibold.ttf");
}

@font-face {
    font-family: "Leo-Arrow";
    src: url("../Fonts/Leo-Arrow.ttf");
}

@font-face {
    font-family: "Didact-Gothic";
    src: url("../Fonts/DidactGothic.ttf");
}

/*Deprecated, but kept until confirmed to be deleted*/
/*15-04-22*/

/*START Hamburglar*/
.menu {
	position: absolute;
	top: 1.4em;
	right: 1em;
	background-color: #484848;
	width: 2.2em;
	height: 1.8em;
	border-radius: .4em;
	text-align: center;
	padding: .1em;
	box-shadow:  .16em .16em .2em #020202;
}
.menuInner {
	/* display: inline-block; */
	background-color: #101010;
	position: relative;
	left: .3em;
	width: 1.6em;
	height: .25em;
	padding: 0em;
	margin: .25em 0em 0em 0em;
	border-radius: .125em;
}
.menu:hover  {
	cursor: pointer;
	background-color: #DEDEDE;
}
.menu:hover + .menuInner {
	background-color: #282828;
}
/*END Hamburglar*/

.content-Home {
	color: #DFDFDF;
	font-family: OpenSans;
	text-align: center;
	display: inline-block;
    position: relative;
	margin: 0em 0em 0em 0em;
	width: calc(100% - 30em);
	height: 100%;
	height: calc(100% - 3em);
	/* bottom: 0em; */
	padding: .4em 2em 1em 2em;
    overflow: hidden;
}
.content {
	color: #DFDFDF;
	font-family: OpenSans;
	text-align: center;
	display: inline-block;
    position: relative;
	background-color: rgba(10,10,10,.2);
	margin: 0em 0em 0em 0em;
	width: calc(100% - 30em);
	height: calc(100% - 3em);
	/* border-radius: .4em .4em 0em 0em; */
	box-shadow: 0em 0em 1.6em #020202;
	/* bottom: 0em; */
	padding: .4em 2em 1em 2em;
    overflow: hidden;
}
.content2 {
	color: #DFDFDF;
	font-family: OpenSans;
	text-align: center;
	display: inline-block;
    position: relative;
	background-color: rgba(10,10,10,.2);
	margin: 0em 0em 0em 0em;
	width: calc(100% - 30em);
	height: auto;
	box-shadow: 0em 0em 1.6em #020202;
	padding: .4em 2em 1em 2em;
}
.circle {
	background-color: rgba(20,20,20,.25);
	border-left: solid .1em;
}

.circle1 {
	position: relative;
	left: -.1em;
	border-top: solid .3em;
}

.circle2 {
	background-color: rgba(20,20,20,.25);
	position: relative;
	bottom: -.05em;
	height: 6em;
	border-bottom: solid .1em;
    padding-top: calc(50% - 1em);
}

#imageGallery {
	position: absolute;
	right: 15%;
	top: 15%;
}

.footer {
	color: #DFDFDF;
	font-family: OpenSans;
	position: absolute;
	background-color: #363636;
	bottom: 0em;
	padding: .3em 0em 0em 0em;
	height: 1.8em;
	width:100%;
	margin: 0em 0em -.1em 0em;
	text-align: center;
	box-shadow: -.05em -.05em .6em #040404;
    overflow: hidden;
}